<h1>holaaa!</h1>

{{!vamos a renderizar un listado de usuarios que recibimos del servidor}}


<h2>LISTA DE USUARIOS</h2>
<ul id="lista-usuarios"></ul>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>


<script src = "js/main.js"></script>