
<h1>RealTimeProducts</h1>
<h2>PRODUCTOS ACTUALIZADOS</h2>
<div id="contenedorProductos">
    <h2>productos</h2>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>

<script src = "js/main.js"></script>